@{
    ViewData["Title"] = "BloodBank";
}
<head>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
    <link href="~/css/glyphicon.css" rel="stylesheet">
</head>
<body class="body">
    <form class="form-inline" method="get" asp-controller="BloodBank" asp-action="Search">
        <div class="input-group">
            <input type="search" class="form-control mx-3" name="id" placeholder="search by id">
            <section class="input-group-append">
                <button type="submit"><span class="glyphicon glyphicon-search"></span>Search</button>
            </section>
        </div>
    </form>
    
        <table>
            <!-- Demonstrait the caption -->
            <caption>Blood Bank</caption>
            <!-- Demonstrait the head -->
            <thead>
                <!-- Table raw -->
                <tr>
                    <!-- Table header -->
                    <th>Blood Bank Id</th>
                    <th>Blood Bank Email</th>
                    <th>Blood Group</th>
                    <th>Blood Quantity</th>
                    <th>Status Of Blood</th>
                  
                </tr>
            </thead>
            <!-- Demonstrait the body -->
            <tbody>
                @{
                    @model IEnumerable<BloodBank>
                    @if (Model != null)
                        @foreach (var el in Model)
                        {
                            @if (el != null)
                            {
                                <tr>
                                    <td>@el.BloodBankId</td>
                                    <td>@el.BloodBankEmail</td>
                                    <td>@el.BloodGroup</td>
                                    <td>@el.BloodBankQuantity</td>   
                                    <td>@el.StatusOfBlood</td>
                                </tr>
                            }
                        }
                }
            </tbody>
        </table>
        <div class="d-flex justify-content-center align-items-center">
            <div class="button-div px-4">
                <button><a class="text-white" asp-controller="BloodBank" asp-action="AddBlood">Add</a></button>
            </div>
            <div class="button-div px-4">
            <button><a class="text-white" asp-controller="BloodBank" asp-action="UpdateBlood">Update</a></button>
            </div>
            <div class="button-div px-4">
            <button><a class="text-white" asp-controller="BloodBank" asp-action="DeleteBlood">Delete</a></button>
            </div>
            <div class="button-div px-4">
                <button><a class="text-white" asp-controller="BloodBank" asp-action="Show">Show hiddens</a></button>
            </div>
        </div>
</body>