@{
    ViewData["Title"] = "Donor";
}
<head>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link href="~/css/glyphicon.css" rel="stylesheet">
</head>
<body class="body">
    <form class="form-inline" method="get" asp-controller="Donor" asp-action="Search">
        <div class="input-group">
            <input type="search" class="form-control mx-3" name="id" placeholder="search by id">
            <section class="input-group-append">
                <button type="submit"><span class="glyphicon glyphicon-search"></span>Search</button>
            </section>
        </div>
    </form>
    <table class="table">
        <!-- Demonstrait the caption -->
        <caption>Donor</caption>
        <!-- Table header -->
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Gender</th>
                <th>Blood Type</th>
                <th>Last Donation Date</th>
            </tr>
        </thead>
        <!-- Demonstrait the body -->
        <tbody>
            @{
                @model IEnumerable<Donor>
                @if (Model != null)
                    @foreach (var dr in Model)
                    {
                        @if (dr != null)
                        {
                            <tr>
                                <td>@dr.DonorID</td>
                                <td>@dr.DonorName</td>
                                <td>@dr.DonorAge</td>
                                <td>@dr.DonorAddress</td>
                                <td>@dr.DonorPhone</td>
                                <td>@dr.DonorGender</td>
                                <td>@dr.DonorBloodType</td>
                                <td>@dr.LastDonationDate</td>
                            </tr>
                        }
                    }
            }
        </tbody>
    </table>
    <div class="d-flex justify-content-center align-items-center">
        <div class="button-div px-4">
            <button><a class="text-white" asp-controller="Donor" asp-action="AddDonor">Add</a></button>
        </div>
        <div class="button-div px-4">
            <button><a class="text-white" asp-controller="Donor" asp-action="UpdateDonor">Update</a></button>
        </div>
        <div class="button-div px-4">
            <button><a class="text-white" asp-controller="Donor" asp-action="DeleteDonor">Delete</a></button>
        </div>
        <div class="button-div px-4">
            <button><a class="text-white" asp-controller="Donor" asp-action="Show">Show hiddens</a></button>
        </div>
    </div>
</body>
