@{
    ViewData["Title"] = "Management";
}
<head>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
    <link href="~/css/glyphicon.css" rel="stylesheet">
</head>
<body class="body">
    <form class="form-inline" asp-controller="Employee" asp-action="SearchForEmployeeByEveryThing" method="get">
        <div class="row">
            <div class="col-sm-4">
                <div class="input-group">
                    <input type="search" class="form-control mx-3 mb-2" name="id" placeholder="Search by id">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="input-group">
                    <input type="search" class="form-control mx-3 mb-2" name="name" placeholder="Search by name">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="input-group">
                    <input type="search" class="form-control mx-3 mb-2" name="age" placeholder="Search by age">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="input-group">
                    <input type="search" class="form-control mx-3 mb-2" name="address" placeholder="Search by address">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="input-group">
                    <input type="search" class="form-control mx-3 mb-2" name="function" placeholder="Search by function">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="input-group d-flex justify-content-center align-items-center">
                    <section class="input-group-append">
                        <button type="submit" class="btn btn-outline-danger"><span class="glyphicon glyphicon-search"></span>Search</button>
                    </section>
                </div>
            </div>
        </div>
    </form>
    <table class="table">
        <!-- Demonstrait the caption -->
        <caption>Management</caption>
        <!-- Table header -->
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Address</th>
                <th>Function</th>
                <th>Image itself</th>
                <th>BloodBankID</th>
            </tr>
        </thead>
        <!-- Demonstrait the body -->
        <tbody>
            @{
                @model IEnumerable<Employee>
                @if (Model != null)
                @foreach (var el in Model)
                {
                    @if (el != null)
                    {
                        <tr>
                            <td>@el.EmployeeID</td>
                            <td>@el.EmployeeName</td>
                            <td>@el.EmployeeAge</td>
                            <td>@el.EmployeePhone</td>
                            <td>@el.EmployeeEmail</td>
                            <td>@el.EmployeeAddress</td>
                            <td>@el.Field</td>
                            <td><img src="@el.ImageName" width="80px" height="80px"></td>
                            <td>@el.BloodBankId</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
    <div class="d-flex justify-content-center align-items-center">
        <div class="button-div px-4">
            <button><a class="text-white" asp-controller="Employee" asp-action="Add">Add</a></button>
        </div>
        <div class="button-div px-4">
            <button><a class="text-white" asp-controller="Employee" asp-action="Update">Update</a></button>
        </div>
        <div class="button-div px-4">
            <button><a class="text-white" asp-controller="Employee" asp-action="Delete">Delete</a></button>
        </div>
    </div>
</body>