@{
    ViewData["Title"] = "Management";
}
<head>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
    <link href="~/css/glyphicon.css" rel="stylesheet">
</head>
<body class="body">
    <form class="form-inline" method="get" asp-controller="Employee" asp-action="Search2">
        <div class="input-group">
            <input type="search" class="form-control mx-3" name="id" placeholder="search by id">
            <section class="input-group-append">
                <button type="submit"><span class="glyphicon glyphicon-search"></span>Search</button>
            </section>
        </div>
    </form>
    <table class="table">
        <!-- Demonstrait the caption -->
        <caption>Management</caption>
        <!-- Table header -->
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Address</th>
                <th>Function</th>
                <th>Image</th>
                <th>Image itself</th>
            </tr>
        </thead>
        <!-- Demonstrait the body -->
        <tbody>
            @{
                @model IEnumerable<Employee>
                @if (Model != null)
                @foreach (var el in Model)
                {
                    @if (el != null)
                    {
                        <tr>
                            <td>@el.EmployeeID</td>
                            <td>@el.EmployeeName</td>
                            <td>@el.EmployeeAge</td>
                            <td>@el.EmployeeAddress</td>
                            <td>@el.EmployeeEmail</td>
                            <td>@el.EmployeePhone</td>
                            <td>@el.Field</td>
                            <td>@el.ImageName.Substring(el.ImageName.IndexOf("Img\\") + 4)</td>
                            <td><img src="@el.ImageName" width="80px" height="80px"></td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
    <div class="d-flex justify-content-center align-items-center">
        <div class="button-div px-4">
            <button><a class="text-white" asp-controller="Employee" asp-action="Add">Add</a></button>
        </div>
        <div class="button-div px-4">
            <button><a class="text-white" asp-controller="Employee" asp-action="Update">Update</a></button>
        </div>
        <div class="button-div px-4">
            <button><a class="text-white" asp-controller="Employee" asp-action="Delete">Delete</a></button>
        </div>
        <div class="button-div px-4">
            <button><a class="text-white" asp-controller="Employee" asp-action="Show">Show hiddens</a></button>
        </div>
    </div>
</body>