@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "ViewRequests";
}
<head>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link href="~/css/glyphicon.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/ViewRequests.css" asp-append-version="true" />
</head>
<body class="body">
    <form class="form-inline" method="get" asp-controller="Request" asp-action="SearchRequest">
        <div class="input-group">
            <input type="search" class="form-control mx-3" name="id" placeholder="search by id">
            <section class="input-group-append">
                <button type="submit"><span class="glyphicon glyphicon-search"></span>Search</button>
            </section>
        </div>
    </form>
    <table>
        <caption>Requests</caption>
        <thead>
            <tr>
                <th>ID</th>
                <th>Hospital Name</th>
                <th>E-mail</th>
                <th>Hospital Location</th>
                <th>Hospital Phone</th>
                <th>Blood Type</th>
                <th>Quantity</th>
                <th>Request Status</th>
                <th>Request Date</th>
            </tr>
        </thead>
        <tbody>
            @{
                @model IEnumerable<Request>
                @if (Model != null)
                    @foreach (var reqs in Model)
                    {
                        @if (reqs != null)
                        {
                            <tr>
                                <td>@reqs.RequestID</td>
                                <td>@reqs.HospitalToRequestFrom.HospitalName</td>
                                <td>@reqs.HospitalToRequestFrom.HospitalEmail</td>
                                <td>@reqs.HospitalToRequestFrom.HospitalLocation</td>
                                <td>@reqs.HospitalToRequestFrom.HospitalPhone</td>
                                <td>@reqs.RequestBloodType</td>
                                <td>@reqs.RequestBloodQuantity</td>
                                <td>@reqs.RequestStatus</td>
                                <td>@reqs.RequestDate</td>
                            </tr>
                        }
                    }
            }
        </tbody>
    </table>
    <div class="d-flex justify-content-center align-items-center">
        <div class="button-div px-4">
            <button><a class="text-white" asp-controller="Request" asp-action="Add">Add</a></button>
        </div>
        <div class="button-div px-4">
            <button><a class="text-white" asp-controller="Request" asp-action="Update">Update</a></button>
        </div>
        <div class="button-div px-4">
            <button><a class="text-white" asp-controller="Request" asp-action="Delete">Delete</a></button>
        </div>
        <div class="button-div px-4">
            <button><a class="text-white" asp-controller="Request" asp-action="Show">Show hiddens</a></button>
        </div>
    </div>
</body>