@{
    ViewData["Title"] = "Delete Employee";
}
<h1 class="d-flex justify-content-center align-items-center">Delete view for deleting by id</h1>
<form asp-controller="Employee" asp-action="RemoveId" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <div class="my-4">
        <label>Id for deleting</label>
        <input type="text" class="form-control" name="id" required>
    </div>

    <div class="d-flex justify-content-center align-items-center my-4">
        <button type="submit" class="btn btn-danger px-4 py-2 my-3">Apply</button>
    </div>
</form>
@model Employee;
<div class="container">
    <h1 class="display-4">Delete Result</h1>
    <div class="card bg-danger">
        <div class="card-body" style="color: #ffdfdf;">
            <h5 class="card-title">Employee Details that deleted</h5><hr>
            @if (Model != null)
            {
                <p class="card-text"><strong>ID:</strong> @Model.EmployeeID</p>
                <p class="card-text"><strong>Name:</strong> @Model.EmployeeName</p>
                <p class="card-text"><strong>Age:</strong> @Model.EmployeeAge</p>
                <p class="card-text"><strong>Address:</strong> @Model.EmployeeAddress</p>
                <p class="card-text"><strong>Email:</strong> @Model.EmployeeEmail</p>
                <p class="card-text"><strong>Phone:</strong> @Model.EmployeePhone</p>
                <p class="card-text"><strong>Field:</strong> @Model.Field</p>
                <p class="card-text"><strong>Image Name:</strong> @Model.ImageName</p>
            }
            else
            {
                <p class="card-text"><strong>Error:</strong> No delete until now.</p>
            }
        </div>
    </div>
</div>